<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>注册</title>
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.css" rel="stylesheet">
</head>
<body>
	<div>
		<form action="" method="post">
			<div>
				<label for="yourname" >用户名</label>
				<input type="text" class="form-control" id="yourname" placeholder="yourname" name="username">
			</div>
			
			<div>
				 <label for="password" >Email</label>
				   <input type="Email" class="form-control inputfor " id="password"  placeholder="Email " name="email"  >
			</div>
			<div class="form-group cent">
				  <label for="password" >password</label>
				   <input type="password" class="form-control inputfor " id="password"  placeholder="Password " name="password"  >
			</div>
			<!-- <div class="form-group cent">
				 <label for="passwordto" class="sr-only">password 确认</label>
				   <input type="password" class="form-control inputfor" id="passwordto"  placeholder="Password " name="passwordTo"  >
			</div>
			<div class="form-group cent">
				<label for="heads">头像</label>
				<input type="file" id="heads" >
			</div> -->
			<div class="form-group cent">
				<label for="submits" class="sr-only">登录</label>
				<input type="submit" class="" id="submits" >
			</div>

		</form>
	</div>
</body>
</html>